# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
.netlify
*.local

# env
.env
.env.*
!.env.example

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
npm-debug.log*
